[user]
	name = Mohamed122-r
	email = anskajamal@gmail.com
[safe]
	directory = /storage/emulated/0/Download/my-project
	directory = /storage/emulated/0/gandato _site/enterprise-pro
	directory = /storage/emulated/0/Download/gandato-youth-center-platform
